<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Projet web sémantique</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>>
    <!-- Popper js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                    <button type="button" class="btn btn-success">Lister les patients</button>
                <p>test test test</p>
            </div>
            <div class="col-lg-3">
                    <button type="button" class="btn btn-success">Lister les symptômes</button>
                <p>test test test</p>
            </div>
            <div class="col-lg-3">
                    <button type="button" class="btn btn-success">Lister les maladies</button>
                <p>test test test</p>
            </div>
            <div class="col-lg-3">
                    <button type="button" class="btn btn-success">Lister les médicaments</button>
                <p>test test test</p>
            </div>

            <!--h1>
                <p>les posts :</p>
                <br>
                <p>{{post}}</p>

            </h1-->
        </div>

</body>

</html>