<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1"><b>Sélectionner le symptômes n°1 :</b></label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Vomissements</option>
                    <option>Diarrhée</option>
                    <option>Nosés</option>
                </select>
            </div>
            <button type="button" class="btn btn-success">Valider</button>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1"><b>Sélectionner le symptômes n°2 :</b></label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>Vertiges</option>
                    <option>Courbatures</option>
                    <option>Fatigue</option>
                </select>
            </div>
            <button type="button" class="btn btn-success">Valider</button>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
